.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #04044e;
    --primary-color: #042790;
    --secondary-color: #170bff;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}
